@import url('http://fonts.cdnfonts.com/css/product-sans');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i");

body {
  background-image: url('assets/bck.jpg');
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 3rem;
}

.card {
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 2rem 1rem 1rem 1rem;
  background-color: transparent;
  border-radius: 40px;
  box-shadow: 5px 5px 1rem 20px rgb(0, 0, 0);
  color: white;
}

input {
  width: 20rem;
  height: 3rem;
  border-radius: 50px;
  text-align: center;
  border: none;
  background-color: #eaeaea;
}

.tittle {
  margin-top: 3rem;
  text-align: center;
}

.username {
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem 0;
  color: black;
}

.password {
  display: flex;
  justify-content: center;
   margin: 3rem 0 2rem 0;
   color: black;
}

.password2 {
  display: flex;
  justify-content: center;
  color: black;
}
.login {
  display: flex;
  justify-content: center;
}

.card-text {
  margin-top: 2rem;
  text-align: center;
}

button {
  background-color: #04d1c3;
  border-radius: 30px;
  margin-top: 3rem;
  width: 10rem;
  height: 3rem;
  font-family: 'Nunito';
  font-weight: bold;
  border: 1px solid #000000;
}
button:hover{
  background-color: #047d75;
}
.popupbg{
    z-index: 30;
    position: fixed;
    width: 742px;
    height: 78px;
    top: 350px;
    left: 350px;
    background: #000000;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.popuptext{
    position: absolute;
    width: 669px;
    height: 63px;
    left: 120px;
    top: 0px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    color: #469F74;
}
.popupbg.show{
    opacity: 1;
    pointer-events: all;
}
.closepopup{
    z-index: 20;
    position: absolute;
    width: 800px;
    height: 1000px;
}

